.bundle
config/application.yml
config/database.yml
config/mactag.rb
db/*.sqlite3
db/schema.rb
log/*.log
tmp
public/system
public/uploads
.yardoc
.rvmrc
.sass-cache/*
vendor/gems
.idea/*
tags
TAGS
ruby
*.sql
.DS_Store
Guardfile
.sass-cache/
